<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="BattleShipContext" connectionString="Data source=(localdb)\MSSQLLocalDB; Initial Catalog=BattleShipNet; Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>